@using System.Web.Optimization;
@model FutureSathi.Models.UserClass

@{
    ViewBag.Title = "Login";

}

@Styles.Render("~/AllCSS")
@Scripts.Render("~/ALLJQ")

<link href="~/CSS/style.css" rel="stylesheet" />
<link href="~/CSS/bootstrap-icons.min.css" rel="stylesheet" />
<link href="~/CSS/animate.min.css" rel="stylesheet" />
<link href="~/CSS/bootstrap-icons.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">




<script src="~/JS/js_bootstrap.bundle.min.js"></script>
<script src="~/JS/code.jquery.com_jquery-3.7.1.min.js"></script>



<div class="container-fluid pt-5 mb-5">

    <div class="row p-5">

        <div class="col-4">

        </div>
        <div class="col-4 p-4" style="border: 1px solid #FF666D; border-radius:12px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h2>Login</h2>
                <hr />
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group pt-2">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", })
                        <div class="col-md-12 pt-2">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "👤 Enter your Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group pt-2">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 pt-2">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "🔒 Enter your password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group pt-3">
                        <div class="col-md-offset-2 col-md-12 mt-3">

                            <input type="submit" value="Login" style="background-color: #FF666D; color: white; font-weight: bold" class="btn w-100" />
                        </div>
                    </div>

                </div>
                <wbr />
            }
        </div>

        <div class="col-4"></div>

    </div>
</div>






